In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

In [2]:
test = pd.read_csv('test_clean.csv')
train = pd.read_csv('train_clean.csv')

In [3]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             367 non-null    int64
 1   Married            367 non-null    int64
 2   Dependents         367 non-null    int64
 3   Education          367 non-null    int64
 4   Self_Employed      367 non-null    int64
 5   ApplicantIncome    367 non-null    int64
 6   CoapplicantIncome  367 non-null    float64
 7   LoanAmount         367 non-null    float64
 8   Loan_Amount_Term   367 non-null    float64
 9   Credit_History     367 non-null    int64
 10  Property_Area      367 non-null    int64
 11  Total_Income       367 non-null    float64
dtypes: float64(4), int64(8)
memory usage: 34.5 KB

In [4]:
train.shape

(614, 13)

In [5]:
#train.iloc[:, [11]]

In [6]:
#train.drop('Loan_Status', axis = 1)
#train.drop(train.iloc[:, [11]], axis = 1)

In [5]:
x = train.drop(train.iloc[:, [11]], axis = 1)
y = train.iloc[:, [11]]

#splitting the test and treain
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 0)

In [6]:
#feature scaling using standard scaler

from sklearn.preprocessing import StandardScaler 

sc = StandardScaler()
x_train = sc.fit_transform(x_train) 
x_test = sc.fit_transform(x_test)

In [7]:
x_train.shape

(429, 12)

In [8]:
y_train.shape

(429, 1)

In [9]:
x.shape

(614, 12)

In [10]:
y.shape

(614, 1)

### Logistic Regression

In [15]:
lr = LogisticRegression(random_state = 0, C = 0.7)
lr.fit(x_train, y_train.values.ravel())

LogisticRegression(C=0.7, random_state=0)

In [16]:
#prediciting the test result

ypred_lr = lr.predict(x_test)

In [17]:
print(classification_report(y_test, ypred_lr))

              precision    recall  f1-score   support

           0       0.92      0.43      0.59        51
           1       0.82      0.99      0.89       134

    accuracy                           0.83       185
   macro avg       0.87      0.71      0.74       185
weighted avg       0.85      0.83      0.81       185

In [38]:
alr = lr.predict(test)

### Naive Bayes Classifier

In [18]:
classifier_nb = GaussianNB()
classifier_nb.fit(x_train, y_train.values.ravel())

GaussianNB()

In [19]:
ypred_nb = classifier_nb.predict(x_test)

In [20]:
print(classification_report(y_test, ypred_nb))

              precision    recall  f1-score   support

           0       0.82      0.45      0.58        51
           1       0.82      0.96      0.89       134

    accuracy                           0.82       185
   macro avg       0.82      0.71      0.73       185
weighted avg       0.82      0.82      0.80       185

In [35]:
bnb = classifier_nb.predict(test)

### Decision Tree

In [21]:
classifier_dc = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
classifier_dc.fit(x_train, y_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [22]:
ypred_dc = classifier_dc.predict(x_test)

In [23]:
print(classification_report(y_test, ypred_dc))

              precision    recall  f1-score   support

           0       0.48      0.65      0.55        51
           1       0.84      0.73      0.78       134

    accuracy                           0.71       185
   macro avg       0.66      0.69      0.67       185
weighted avg       0.74      0.71      0.72       185

In [36]:
cdc =  classifier_dc.predict(test)

### Random Forest Classifier

In [27]:
classifier_rf = RandomForestClassifier()

parameters ={"n_estimators": [50, 100, 150, 200, 250, 500, 700],
            "max_depth": [2, 4, 6, 8, 10, None]}

cv = GridSearchCV(classifier_rf, parameters, )

cv.fit(x_train, y_train.values.ravel())

GridSearchCV(estimator=RandomForestClassifier(),
             param_grid={'max_depth': [2, 4, 6, 8, 10, None],
                         'n_estimators': [50, 100, 150, 200, 250, 500, 700]})

In [28]:
def display(results):
    print(f'Best parameters are: {results.best_params_}')
    print('\n')
    mean_score = results.cv_results_['mean_test_score']
    std_score = results.cv_results_['std_test_score']
    params = results.cv_results_['params']
    for mean,std,params in zip(mean_score, std_score, params):
        print(f'{round(mean, 3)} + or -{round(std, 3)} for the {params}')

In [29]:
display(cv)

Best parameters are: {'max_depth': 4, 'n_estimators': 200}


0.802 + or -0.031 for the {'max_depth': 2, 'n_estimators': 50}
0.802 + or -0.031 for the {'max_depth': 2, 'n_estimators': 100}
0.802 + or -0.031 for the {'max_depth': 2, 'n_estimators': 150}
0.802 + or -0.031 for the {'max_depth': 2, 'n_estimators': 200}
0.802 + or -0.031 for the {'max_depth': 2, 'n_estimators': 250}
0.802 + or -0.031 for the {'max_depth': 2, 'n_estimators': 500}
0.802 + or -0.031 for the {'max_depth': 2, 'n_estimators': 700}
0.802 + or -0.029 for the {'max_depth': 4, 'n_estimators': 50}
0.804 + or -0.034 for the {'max_depth': 4, 'n_estimators': 100}
0.804 + or -0.031 for the {'max_depth': 4, 'n_estimators': 150}
0.809 + or -0.034 for the {'max_depth': 4, 'n_estimators': 200}
0.807 + or -0.032 for the {'max_depth': 4, 'n_estimators': 250}
0.807 + or -0.032 for the {'max_depth': 4, 'n_estimators': 500}
0.809 + or -0.034 for the {'max_depth': 4, 'n_estimators': 700}
0.797 + or -0.028 for the {'max_depth': 6, 'n_estimators': 50}
0.804 + or -0.031 for the {'max_depth': 6, 'n_estimators': 100}
0.807 + or -0.034 for the {'max_depth': 6, 'n_estimators': 150}
0.804 + or -0.031 for the {'max_depth': 6, 'n_estimators': 200}
0.804 + or -0.032 for the {'max_depth': 6, 'n_estimators': 250}
0.807 + or -0.034 for the {'max_depth': 6, 'n_estimators': 500}
0.802 + or -0.031 for the {'max_depth': 6, 'n_estimators': 700}
0.797 + or -0.029 for the {'max_depth': 8, 'n_estimators': 50}
0.797 + or -0.027 for the {'max_depth': 8, 'n_estimators': 100}
0.802 + or -0.034 for the {'max_depth': 8, 'n_estimators': 150}
0.8 + or -0.031 for the {'max_depth': 8, 'n_estimators': 200}
0.809 + or -0.035 for the {'max_depth': 8, 'n_estimators': 250}
0.797 + or -0.03 for the {'max_depth': 8, 'n_estimators': 500}
0.802 + or -0.032 for the {'max_depth': 8, 'n_estimators': 700}
0.793 + or -0.028 for the {'max_depth': 10, 'n_estimators': 50}
0.793 + or -0.029 for the {'max_depth': 10, 'n_estimators': 100}
0.79 + or -0.03 for the {'max_depth': 10, 'n_estimators': 150}
0.79 + or -0.026 for the {'max_depth': 10, 'n_estimators': 200}
0.795 + or -0.033 for the {'max_depth': 10, 'n_estimators': 250}
0.788 + or -0.028 for the {'max_depth': 10, 'n_estimators': 500}
0.793 + or -0.029 for the {'max_depth': 10, 'n_estimators': 700}
0.786 + or -0.022 for the {'max_depth': None, 'n_estimators': 50}
0.776 + or -0.027 for the {'max_depth': None, 'n_estimators': 100}
0.786 + or -0.027 for the {'max_depth': None, 'n_estimators': 150}
0.781 + or -0.024 for the {'max_depth': None, 'n_estimators': 200}
0.795 + or -0.019 for the {'max_depth': None, 'n_estimators': 250}
0.783 + or -0.032 for the {'max_depth': None, 'n_estimators': 500}
0.793 + or -0.031 for the {'max_depth': None, 'n_estimators': 700}

In [30]:
rfc = RandomForestClassifier(n_estimators = 100, max_depth = 4)
rfc.fit(x_train, y_train.values.ravel())

RandomForestClassifier(max_depth=4)

In [31]:
ypred_rf = rfc.predict(x_test)

In [32]:
print(classification_report(y_test, ypred_rf))

              precision    recall  f1-score   support

           0       0.61      0.55      0.58        51
           1       0.83      0.87      0.85       134

    accuracy                           0.78       185
   macro avg       0.72      0.71      0.71       185
weighted avg       0.77      0.78      0.77       185

In [37]:
drf = rfc.predict(test)

In [49]:
df = pd.DataFrame(columns
                  = [alr, bnb, cdc, drf])

In [51]:
train

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Total_Income
0,1,0,0,0,0,5849,0.0,146.412162,360.0,1,2,1,5849.0
1,1,1,1,0,0,4583,1508.0,128.000000,360.0,1,0,0,6091.0
2,1,1,0,0,1,3000,0.0,66.000000,360.0,1,2,1,3000.0
3,1,1,0,1,0,2583,2358.0,120.000000,360.0,1,2,1,4941.0
4,1,0,0,0,0,6000,0.0,141.000000,360.0,1,2,1,6000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,0,0,0,0,0,2900,0.0,71.000000,360.0,1,0,1,2900.0
610,1,1,3,0,0,4106,0.0,40.000000,180.0,1,0,1,4106.0
611,1,1,1,0,0,8072,240.0,253.000000,360.0,1,2,1,8312.0
612,1,1,2,0,0,7583,0.0,187.000000,360.0,1,2,1,7583.0
613,0,0,0,0,1,4583,0.0,133.000000,360.0,0,1,0,4583.0

In [47]:
alr

array([1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1,
       1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1,
       1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0,
       0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0,
       1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1,
       1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0,
       1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1], dtype=int64)

In [52]:
drf

array([1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0,
       0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1], dtype=int64)